var common = {
    timeFormat: function (str) {
        if (!str) return ''
        return str.substring(0, 10);
    },
    numTwoDecimal: function (num) {
        return Number(num).toFixed(2);
    },
    highLight: function (val, obj) {
        var str = ''
        if (obj.da === val) str = 'active' // 该项是正确答案
        if (obj.da !== obj.answer && obj.answer === val) str = 'error-result'
        return str
    },
    judgeResult: function (obj) {
        var str = ''
        if (obj.da !== obj.answer) str = 'circle-error-result'
        else str = 'circle-active'
        return str
    },
    formatTime: function (format = 'yyyyMMddhhmmss', time) {
        var formateArr = ['y', 'M', 'd', 'h', 'm', 's'];
        var returnArr = [];
        var time = time.replace(getRegExp('-', 'g'), '/');
        var date = getDate(time);
        returnArr.push(date.getFullYear());
        returnArr.push(date.getMonth() + 1);
        returnArr.push(date.getDate());

        returnArr.push(date.getHours());
        returnArr.push(date.getMinutes());
        returnArr.push(date.getSeconds());

        for (i = 0, l = returnArr.length; i < l; i++) {
            format = format.replace(getRegExp(formateArr[i] + '+'), returnArr[i]);
        }
        return format;
    }
}
module.exports = common